<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="URLShortener.Data.Properties.Settings.URLShortenerConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=URLShortener;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>