<div class="row">
    <div class="col-md-4 col-md-offset-4 well" style="margin-top: 60px">
        <h2 class="text-center">Welcome, @ViewBag.Name</h2>
        <br /><br />
        <a href="/home/shortenurl" class="btn btn-success btn-block">Shorten Link</a>
        <br />
        <a href="/home/history" class="btn btn-primary btn-block">View History</a>       
        <br /><br />
    </div>
</div>