<div class="row">
    <div class="col-md-4 col-md-offset-4 well">
        <h2 class="text-center">Log in to your account</h2>
        <br /><br />
        <form method="post" action="/home/login">
            <input type="text" name="email" placeholder="Email" class="form-control" />
            <br />
            <input type="password" name="password" placeholder="Password" class="form-control" />
            <br />
            <button class="btn btn-primary btn-block">Login</button>
            <h4 class="text-center">or</h4>
            <a href="/home/signup" class="btn btn-success btn-block">Signup for a new account</a>
        </form>
        <br /><br />
    </div>
</div>